body
  :padding-left 50px
  :padding-right 50px
  :padding-bottom 50px
  :padding-top 5px
  :font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  :background-color #222
  :color #CCC
a
  :color #00B7FF

header
  :margin-bottom 20px
  :border-bottom solid 1px #333

nav#menu
  :margin-bottom 10px
  a
    :margin-right 1em

table#watch_list
  :margin-top 0.2em
  :margin-bottom 1em
  :width 800px
  :border-collapse collapse
  :border solid 1px #333
  th
    :background #4777E9
    :color white
    :text-align left
    :padding 6px
    :border-bottom solid 1px #333
  td
    :padding 10px 8px 8px 4px
    :border-bottom solid 1px #333

div.player, div.order, div.search
  :margin-bottom 2em

div#setting
  :margin-bottom 20px
  :border-bottom solid 1px #333
    
div.movie, div.book, div.entry
  :border solid 1px #888
  :margin-top 10px
  :padding 6px

.paginator
  a, span
    :margin-left 5px
    :margin-right 5px

.info
  :float right
  :color #888
  :position relative
  :top 10px

.clearfix:after
  :content "."
  :display block
  :clear both
  :height 0.1px
  :font-size 0.1em
  :line-height 0
  :visibility hidden

