@import "react-select/dist/default"
@import "sweetalert/dist/sweetalert"

body
  :padding-bottom 20px
  :padding-top 5px
  :padding-left 8px
  :margin 0
  :font 14px sans-serif
  :background-color #222
  :color #CCC
  :overflow-y hidden

a
  :color #00B7FF
  :text-decoration none

header
  :background-color #222
  :position fixed
  :top 0px
  :width 100%
  :height 36px
  :border-bottom solid 1px #333
  :padding-right 10px
  :display flex
  :align-items center

  h1, h2, h3
    :display inline-block
    :margin-top 2px
    :margin-bottom 2px
    :margin-right 4px
    :flex 0 0 100px

  .search
    :width 240px
    :flex 0 0 360px
    :height 24px
    :margin-right 10px
    :display block

  .sort
    :width 240px
    :flex 0 0 200px
    :margin-right 10px
    :display block

  .file-count
    :flex 1 0 120px
    :margin-right 20px

  .updating
    :flex 0 0 180px

.unselectable
  :-webkit-user-select none;
.selectable
  :-webkit-user-select auto;

#main
  padding-top: 40px

.entries
  :padding-right: 16px
  :overflow-y auto !important

.movie, .book, .entry
  :border solid 1px #888
  :margin-top 10px
  :padding 6px

  &.selected
    :background-color #666;

  .entry--thumbnails_and_info
    :display flex
    :flex-flow row nowrap
    :justify-content space-between

    .thumbnails
      :width 100%

    .thumbnails div
      :width 100%
      :flex 3 1 1000px
      :display flex
      :flex-flow row nowrap

      a
        :width 100%
        :display block
        :flex 1 1 auto
      img
        max-width: 100%

    .info
      :border-left 1px solid #888
      :color #888
      :margin-left: 12px
      :padding-left: 4px
      :flex 0 0 200px

      .info--name
        :font-weight bold;
        :text-align right;

.clearfix:after
  :content "."
  :display block
  :clear both
  :height 0.1px
  :font-size 0.1em
  :line-height 0
  :visibility hidden

